.panel {
    /* background-color: #cfc9c913; */
    background-color: #f5f4f42f !important;
    /* background-color:  #eaf0f794 !important; */
}

.contenedor {
    margin: 2% 5%;

}
.text-gold{
    color: #997c2e;
}

/* menu listado de resportes */
.menu-listado-reportes {
    box-sizing: border-box;
    background-color: #F6F4EE;
    padding: 20px;
    border-radius: 16px;
}

.menu-listado-reportes .titulo {
   
    font-size: 1rem;
    font-weight: 600;
    color: gray;
    /* color: #6E7A89; */
}

.menu-listado-reportes .lista {
    margin: 10px 0;
}

.menu-listado-reportes .lista .item .name {
    padding: 0 0 0 8px;
    font-size: 1rem;
    font-weight: 500;
    color: #434343d8;
}

/* titulo reporte */
.icon-title-container {
    display: flex;
    align-items: center;
}

.icon-custom {
    
    color:rgba(86, 94, 95, 0.452);/* Establece el color del texto en blanco */
    font-weight: bold; 
    
}

.titulo_menu{
    
    font-size: 2.1rem;
    font-weight: 700;
    /* color: #26547ae0; */
    color: #1a3a55cb;
    margin: 0px;
 
}

.subtitulo_menu{

    font-size: 1.2rem;
    font-weight: 500;
    color: #284761e7;
    margin: 0px;
    
}



/*  */
.fade {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  
  .fade.show {
    opacity: 1;
    transform: translateY(0);
  }