<app-navbar></app-navbar>
<app-subnavabar></app-subnavabar>
<div class="contenedor">

    <div class="row">
        <div class="col-lg-3">
            <div class="menu-listado-reportes">
                <div class="titulo">FILTROS</div>
                <div class="lista">
                    <div class="item">
                        <div class="name">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="search" id="flexRadioDefault1"
                                    [(ngModel)]="selectedValue" (change)="onSelectionChange('codigo')" value="codigo">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Búsqueda por código
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="lista">
                    <div class="item">
                        <div class="name">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="search" id="flexRadioDefault2"
                                    [(ngModel)]="selectedValue" (change)="onSelectionChange('numeroAnio')"
                                    value="numeroAnio">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Búsqueda por número y año
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <div class="titulo">EJEMPLOS DE BUSQUEDAS</div>

                <p>Opción seleccionada: {{ selectedValue }}</p>


            </div>



        </div>
        <div class="col-lg-9">
            <div class="encabezado_pages d-flex justify-content-start">
                <i class="bi bi-search icon-custom" style="font-size: 3rem;"></i>
                <!-- <p class="titulo_menu"> Busqueda</p> -->
                <div class="text-start mx-4">
                    <p class="titulo_menu mb-0">Búsqueda</p>
                    <p style="font-size: 1.1rem ">Encuentre contenido y ubicación de los expedientes </p>
                </div>
            </div>


            <div *ngIf="selectedValue=='codigo'">
                <form class="row mx-auto">
                    <div class="col-auto">
                        <input type="text" class="form-control mr-2" name="buscar" placeholder="BUSCAR POR PLACA"
                            id="placa_vehicular">
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary">Buscar</button>
                    </div>
                </form>
            </div>
            <div *ngIf="dataHistorialVehicular.length > 0" class="m-4">
                <div class="table-responsive">
                    <table class="table text-center  table-hover">
                        <colgroup>
                            <col style="width: 5%;">
                            <col style="width: 15%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 20%;">
                            <col style="width: 35%;">
                        </colgroup>
                        <thead class="text-white table-success">
                            <tr>
                                <th scope="col">Nro</th>
                                <th scope="col">FECHA</th>
                                <th scope="col">PLACA</th>
                                <th scope="col">CONDICION</th>
                                <th scope="col">NOMBRE_RESOLUCION</th>
                                <th scope="col">EMPRESA</th>
                            </tr>
                        </thead>

                        <!-- <tbody>
                            <tr *ngFor="let item of dataHistorialVehicular, index as i">
    
                                <th scope="row">{{i+1}}</th>
                                <td>{{item.fecha_resolucion|date:'dd/MM/yyyy'}}</td>
                                <td>{{item.placa}}</td>
                                <td>{{item.condicion}}</td>
                                <td>{{item.nombre_resolucion}}</td>
                                <td>{{item.nombre_empresa}}</td>
                            </tr>
                        </tbody> -->
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>