.panel {
    /* background-color: #cfc9c913; */
    background-color: #f5f4f42f !important;
    /* background-color:  #eaf0f794 !important; */
}

.contenedor {
    margin: 2% 5%;

}
.text-gold{
    color: #997c2e;
}

/* menu listado de resportes */
.menu-listado-reportes {
    box-sizing: border-box;
    background-color: #F6F4EE;
    padding: 20px;
    border-radius: 16px;
}

.menu-listado-reportes .titulo {
   
    font-size: 1rem;
    font-weight: 600;
    color: gray;
    /* color: #6E7A89; */
}

.menu-listado-reportes .lista {
    margin: 10px 0;
}

.menu-listado-reportes .lista .item .name {
    padding: 0 0 0 8px;
    font-size: 1rem;
    font-weight: 500;
    color: #434343d8;
}

/* titulo reporte */
.icon-title-container {
    display: flex;
    align-items: center;
}

.icon-custom {
    
    color:rgba(86, 94, 95, 0.452);/* Establece el color del texto en blanco */
    font-weight: bold; 
    
}

.titulo_menu{
    
    font-size: 2.1rem;
    font-weight: 700;
    /* color: #26547ae0; */
    color: #1a3a55cb;
    margin: 0px;
 
}

.subtitulo_menu{

    font-size: 1.2rem;
    font-weight: 500;
    color: #284761e7;
    margin: 0px;
    
}



/*  */
.fade {
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  }
  
  .fade.show {
    opacity: 1;
    transform: translateY(0);
  }

  .card_panel{
    margin: 0 0 2rem;
    background-color: #f6f6ee;
    box-shadow: 1px 1px 3px 0 #d3d3d3;
    list-style-type: none;
    width: 90%;
    border-radius: 20PX;
  }
  .card_panel:hover{

    background-color: #f8f8f4;
 
  }

  .number-folio{
    font-size: 1.7rem;
    font-weight: 700;
    color: #929FB1;
  }

  .text-folio{
    font-size: 1rem;
    font-weight: 700;
    color: #929FB1;
  }

  /*  */
  .btn-warning-backup{
    background-color: #FCF0D3;
    color: #C28E0E;
    border: 1px solid #FAE5B3;
    box-shadow: 1px 1px 3px 0 #D5DDE5;
    cursor: default;
}

.text-nro-expediente{
    font-size: 1.5rem;
    font-weight: 700;
    color: #404b5acb;
}
.text-estado-expediente{
    font-size: 1.2rem;
    font-weight: 700;
    color: #404b5a9c;
}

/* tag */
.tag-title{
    display: inline-block;
    text-transform: uppercase;
    font-size: .6rem;
    font-weight: 500;
    text-align: center;
    border-radius: 5px;
    background-color: #D5DDE5;
    padding: .25rem 1rem;
    margin-right: 10px;
}
.tag-title span{
    
    color: #0080a5;
 
}

.text-content{
    font-size: 1rem;
    font-weight: 500;
    color: #404b5ac0;
}

.text-content-ejemplo{
    font-size: 0.92rem;
    font-weight: 400;
    color: #404b5ac0;
}

/*  */
.buscar-btn{
    background-color: #B9EACE;
    color: #227243;
    border: 1px solid #92DFB2;
    box-shadow: 1px 1px 3px 0 #D5DDE5;
    font-weight: 600
}
.buscar-btn:hover{
    background-color:  #86d993;
    color: #227243;
    border: 1px solid #92DFB2;
    box-shadow: 1px 1px 3px 0 #D5DDE5;
    font-weight: 600

}

/* icono de impresion */
.icon-printer {
    font-size: 2.2rem;
    font-weight: 900;
    color: #929FB1;
    /* transition: font-size 0.3s ease, color 0.3s ease;  */
}

.icon-printer:hover {
    font-size: 2.2rem;
    color: #2f7dc7;
    cursor: pointer;
}

/* visor pdf */
