<app-navbar></app-navbar>
<div class="contenedor">

    <div class="row">
        <div class="col-lg-3">
            <div class="menu-listado-reportes">
                <div class="titulo">DATOS: </div>
                <div class="lista">
                    <div class="item">
                        <div class="name" ><i class="bi  bi-car-front  mx-2"></i> Placa: <span class="text-gold"></span></div>
                    </div>
                </div>
                <div class="lista">
                    <div class="item">
                        <div class="name" > <i class="bi bi-card-text mx-2"></i> Marca: <span class="text-gold"></span></div>
                    </div>
                </div>
                <div class="lista">
                    <div class="item">
                        <div class="name" ><i class="bi bi-card-text mx-2"></i> Modelo: <span class="text-gold"></span></div>
                    </div>
                </div>
                <div class="lista ">
                    <div class="item">
                        <div class="name" > <i class="bi  bi-calendar-check mx-2"></i> Año: <span class="text-gold"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="encabezado_pages d-flex justify-content-start">
                <i class="bi bi-search icon-custom-encabezado" style="font-size: 3rem;"></i>
                <!-- <p class="titulo_menu"> Busqueda</p> -->
                <div class="text-start">
                    <p class="titulo_menu mb-0">Búsqueda</p>
                    <p  style="font-size: 1.1rem">Encuentre contenido de Historial vehicular usando la placa del vehiculo</p>
                </div>
            </div>

            
            <div>
                <form class="row mx-auto">
                    <div class="col-auto">
                        <input type="text" class="form-control mr-2" name="buscar" placeholder="BUSCAR POR PLACA" id="placa_vehicular">
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary" >Buscar</button>
                    </div>
                </form>
            </div>
            <div *ngIf="dataHistorialVehicular.length > 0" class="m-4">
                <div class="table-responsive">
                    <table class="table text-center  table-hover">
                        <colgroup>
                            <col style="width: 5%;">
                            <col style="width: 15%;">
                            <col style="width: 10%;">
                            <col style="width: 10%;">
                            <col style="width: 20%;">
                            <col style="width: 35%;">
                        </colgroup>
                        <thead class="text-white table-success">
                            <tr>
                                <th scope="col">Nro</th>
                                <th scope="col">FECHA</th>
                                <th scope="col">PLACA</th>
                                <th scope="col">CONDICION</th>
                                <th scope="col">NOMBRE_RESOLUCION</th>
                                <th scope="col">EMPRESA</th>
                            </tr>
                        </thead>
    
                        <!-- <tbody>
                            <tr *ngFor="let item of dataHistorialVehicular, index as i">
    
                                <th scope="row">{{i+1}}</th>
                                <td>{{item.fecha_resolucion|date:'dd/MM/yyyy'}}</td>
                                <td>{{item.placa}}</td>
                                <td>{{item.condicion}}</td>
                                <td>{{item.nombre_resolucion}}</td>
                                <td>{{item.nombre_empresa}}</td>
                            </tr>
                        </tbody> -->
                    </table>
                </div>
            </div>
           
        </div>
    </div>
</div>

