<app-navbar></app-navbar>
<app-subnavabar></app-subnavabar>
<div class="contenedor">

    <div class="row ">
        <div class="col-lg-3">
            <div class="menu-listado-reportes">
                <div class="titulo">FILTROS</div>
                <div class="lista">
                    <div class="item">
                        <div class="name">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="search" id="flexRadioDefault1"
                                    [(ngModel)]="selectedValue" (change)="onSelectionChange('codigo')" value="codigo">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Búsqueda por código
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lista">
                    <div class="item">
                        <div class="name">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="search" id="flexRadioDefault2"
                                    [(ngModel)]="selectedValue" (change)="onSelectionChange('numeroAnio')"
                                    value="numeroAnio">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Búsqueda por número y año
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lista">
                    <div class="item">
                        <div class="name">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="search" id="flexRadioDefault3"
                                    [(ngModel)]="selectedValue" (change)="onSelectionChange('nombreParte')"
                                    value="nombreParte">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    Búsqueda por nombre de parte
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="titulo">EJEMPLOS DE BUSQUEDAS</div>
                <div>
                    <h6>Busqueda por codigo</h6>
                    <p class="text-content-ejemplo">el codigo debe ser exactamente de 11 digitos, mostrara los datos
                        relacionados con el expediente</p>
                    <p class="text-content-ejemplo">ejemplo: 12021003523</p>
                </div>
                <br>
                <div>
                    <h6>Busqueda por numero y año</h6>
                    <p class="text-content-ejemplo">el numero de expediente deben ser exactamente 6 digitos excepto los
                        ceros a la izquerda (son omitidos), el valor del año se toma de los cuatro digitos despues del
                        primer guion.</p>
                    <p class="text-content-ejemplo">ejemplo: 03631-2014-0-3398-JR-CI-01</p>
                </div>
                <br>
                <div>
                    <h6>Busqueda por nombre de parte</h6>
                    <p class="text-content-ejemplo">la búsqueda por nombre de parte nos permite encontrar expedientes relacionados al nombre de parte indicado.</p>
                    <p class="text-content-ejemplo">ejemplo: denan_36</p>
                </div>
            </div>
        </div>
        <div class="col-lg-9 ">
            <div class="encabezado_pages d-flex justify-content-start">
                <i class="bi bi-search icon-custom" style="font-size: 3rem;"></i>
                <div class="text-start mx-4">
                    <p class="titulo_menu mb-0">Búsqueda</p>
                    <p style="font-size: 1.1rem ">Encuentre datos y ubicación de los expedientes </p>
                </div>
            </div>

            <div *ngIf="selectedValue === 'codigo'" [ngClass]="{'fade': true, 'show': showCodigo}" class="mt-2">
                <form class="row mx-auto mb-4">
                    <div class="col-auto">
                        <input type="text" class="form-control mr-2" name="buscar" placeholder="Buscar por código"
                            id="codigo_expediente" [(ngModel)]="codigoExpediente" appSoloNumeros maxlength="11">
                    </div>
                    <div class="col-auto">
                        <button type="button" class="btn btn-primary buscar-btn"
                            (click)="BuscarExpedientePorCodigo()">Buscar</button>
                    </div>
                </form>
            </div>

            <div *ngIf="selectedValue === 'numeroAnio'" [ngClass]="{'fade': true, 'show': showNumeroAnio}" class="mt-2">
                <form class="row mx-auto mb-4">
                    <div class="col-auto">
                        <div class="d-flex justify-content-between">
                            <input type="text" class="form-control" name="buscar" placeholder="Número"
                                id="numero_expediente" [(ngModel)]="numeroExpediente" appSoloNumeros maxlength="6">
                            <input type="text" class="form-control mx-4" name="año" placeholder="Año"
                                id="anio_expediente" [(ngModel)]="anioExpediente" appSoloNumeros maxlength="4">
                            <div>
                                <button type="button" class="btn btn-primary buscar-btn"
                                    (click)="BuscarPorNumeroAnio()">Buscar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div *ngIf="selectedValue === 'nombreParte'" [ngClass]="{'fade': true, 'show': showNumeroAnio}" class="mt-2">
                <form class="row mx-auto mb-4">
                    <div class="col-auto">
                        <div class="d-flex justify-content-between">
                            <input type="text" class="form-control " name="buscar" placeholder="nombre parte"
                                id="nombre_parte" [(ngModel)]="nombreParte" >
                            <div>
                                <button type="button" class="btn btn-primary buscar-btn mx-4" (click)="BuscarPorNombreParte()">Buscar</button>
                            </div>
                        </div>
                    </div>

                </form>
            </div>

            <div *ngIf="dataExpediente.length>0">
                <div *ngFor="let item of dataExpediente" class="card_panel">
                    <div class="row p-4">
                        <div class="col-lg-10 d-flex flex-column px-4">
                            <p class="text-nro-expediente m-0"><i class="bi bi-file-earmark-text"></i>
                                {{item.nro_expediente}} / <samp class="text-estado-expediente">{{item.estado}}</samp>
                            </p>
                            <div class=" d-flex m-0 mb-2">
                                <div class="tag-title m-1">
                                    <span>A : {{item.codg_anaquel}}</span>
                                </div>
                                <div class="tag-title m-1">
                                    <span>F : {{item.codg_fila}}</span>
                                </div>
                                <div class="tag-title m-1">
                                    <span>C : {{item.codg_column}}</span>
                                </div>
                                <div class="tag-title m-1">
                                    <span>P : {{item.codg_paquet}}</span>
                                </div>
                            </div>
                            <p class="text-content m-0">Codigo exp : {{item.codg_expediente}}</p>
                            <p class="text-content m-0">Parte demanda : {{item.parte_demanda}}</p>
                            <p class="text-content m-0">Parte demandado : {{item.parte_demandado}}</p>
                            <p class="text-content m-0">Fecha conclución : {{item.fecha_conclu |
                                date:'dd-MM-yyyy'}}</p>
                            <samp class="mt-3">
                                <button class="btn btn-warning-backup btn-sm"><i class="bi bi-database"></i>
                                    {{item.base_de_datos}}</button>

                            </samp>
                        </div>
                        <div class="col-lg-2 ">
                            <div class="text-center d-flex flex-column justify-content-between h-100">
                                <div class="text-center px-4 d-flex flex-column">
                                    <span class="number-folio">{{item.nro_folios}}</span>
                                    <samp class="text-folio">FOLIOS</samp>
                                </div>
                                <i class="bi bi-printer icon-printer" title="imprimir"></i>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="dataExpediente.length==0" class="opacity-50 mx-4">
                <h4>nada encontrado... </h4>
            </div>
        </div>
    </div>
</div>