.fondo-volver{
    background-color: #73bced2c;
}

.btn-volver{
    background-color:  #176091;
    border-radius: 5px;
    border-color: #176091;
   
    
}


.fondo-volver{
    background-color: #73bced2c;
}

/* card-header  */
.card-header {
    background-color: rgba(5, 5, 5, 0.141);
}

tr th{
    color:rgba(14, 100, 60, 0.781)
}


.bi-trash3-fill{
    color: rgba(194, 19, 19, 0.795)
}

.bi-pencil-fill{
    color: rgb(16, 16, 219)
}

